<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		<img src="./images/bg1.jpg" class="retina bg" inline>
		<img src="./images/bg2.jpg" class="retina bg2" inline>
		
		
		
		<img src="./images/t1.png" class="retina neon t1" inline>
		<img src="./images/t2.png" class="retina neon t2" inline>
		

		<img src="./images/t3.png" class="retina t3" inline>
		<img src="./images/cta.png" class="retina cta" inline>
		
		
		<img src="./images/logo.png" class="retina logo" inline>

		<img src="./images/footer.png" class="retina footer" inline>
		<img id="pn-casino-image"/>
		<img src="./images/legal.png" class="retina legal" inline>



	</div>
	<div id="pn-bg-exit"></div>
	
</div>